body{
margin:0;
padding:0;
overflow-x:hidden;
}

main{
background-color: rgb(177, 160, 176);
margin-bottom:-5%;
}

#nav_bar{
border-top: 1px solid white;
border-bottom: 1px solid white;
background-color: black;
width:100%;
height:8vh;
position:sticky;
top:0;
z-index:1;
display:flex;
flex-direction: row;
justify-content: space-between;
}

#nav_diamond{
color:rgb(177, 160, 176);
margin-top:120%;
margin-left:-200%;
}

.nav_links{
font-family: Raleway;
color:white;
font-size:18px;
margin:auto;
padding:0%;
width:10%;
}

#therapists{
margin-left: 8%;
}

a{
text-decoration: none;
color:black
}

.dropdown{
height:8vh;
margin: 1% auto;
width:10%;
}

#massages,#locations{
margin-left:0%;
}

#massages_menu,#locations_menu{
visibility: collapse;
background-color: rgb(227, 217, 227);
color:black;
font-family: Raleway;
font-size:16px;
display:flex;
flex-direction: column;
height:60vh;
width:110%;
line-height:3rem;
text-align: center;
margin-top: 10%;
}

#locations_menu{
height:65vh;
width:110%;
}


#therapists_section{
display:flex;
flex-direction: column;
margin:auto;
width:50%;
}

.therapist_names{
font-size: 25px;
margin-top:5%;
margin-bottom:0%;
}

.therapist{
width:35%;
margin: auto;
}

#therapist1{
margin-top:10%;
}

p{
font-family: Raleway;
font-size: 18px;
line-height: 1.8rem;
text-align: center;
margin-bottom: 8%;
}

.call_button{
background-color: white;
border: 1px solid white;
border-radius: 20px;
width: 50%;
height: 8vh;
padding: 0%;
margin: auto;
margin-bottom: 10%;
}

.book_therapist{
font-family: Raleway;
color: rgb(177, 160, 176);
font-size: 20px;
width:50%;
margin:auto;
}

.call_button_1{
color:white;
margin:-5% auto;
margin-bottom: 8%;
}


footer{
display:flex;
flex-direction: row;
font-family: Raleway;
justify-content: space-evenly;
background-color: black;
width:100%;
height:60vh;
position:sticky;
bottom:0;
z-index:-1;
}

#contact{
color:white;
margin-top:20%;
margin-left: -22%;
}

#email{
font-size: 16px;
text-align: center;
width:100%;
margin-top: 3%;;
}

.fa-instagram{
display: block;
margin: auto;
width:10%;
}

#footer_logo{
height:28vh;
margin-top: 50%;
}

#massages_links,#locations_links,#quick_links{
margin-top: 6%;
}

#massages_title,#locations_title,#contact_title,#quick_links_title{
font-size: 25px;
color:rgb(177, 160, 176);
width:100%;
text-align: center;
margin-bottom:8%;
}

li{
font-family: Raleway;
color:white;
font-size: 16px;
line-height: 1.8rem;
}